.containar{
    text-align: center;
    width: 100%;
    height: 100vh;
    background: aqua;
    display:flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background:#151515;
    padding: 5px;
    border-radius: 10px;

}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0,0,0,0.2);
    background:rgb(240, 255, 253);
    cursor: pointer;
    margin: 10px;
    font-size:22px;
}
.dis{
    display: flex;
    justify-content:flex-end;
    margin: 20px 0;
    box-sizing: content-box;
    height: 80px; 
    width:345px;
}
form input.dis{
    text-align:right;
    flex: 1;
    font-size:45px;
    box-shadow: none;
}
form input.equal{
width: 145px;
}
form input.operator{
    color:#3574f3;
}